<div>
    <h2 id="page-heading">
        <span jhiTranslate="cashManagementUiApp.cmRequest.home.title">Cm Requests</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cm-request" [routerLink]="['/cm-request/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cashManagementUiApp.cmRequest.home.createLabel">
            Create new Cm Request
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <form >
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="serviceNameInput">Service Name</label>
                <input type="text" class="form-control" [(ngModel)]="serviceNameFilter" id="serviceNameInput" name="serviceNameFilter" placeholder="Service Name"/>
            </div>
            <div class="form-group col-md-2">
                <label for="statusFilter">Status</label>
                <select id="statusFilter" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2" >
                <label class="form-control-label" jhiTranslate="cashManagementUiApp.cmRequest.startDateTime" for="startDateTimeFilter">Start Date Time</label>
                <div class="d-flex">
                    <input id="startDateTimeFilter" type="datetime-local" class="form-control" name="startDateTime" [(ngModel)]="startDateTime"
                    />
                </div>
            </div>
            <div class="form-group col-md-2" >
                <label class="form-control-label" jhiTranslate="cashManagementUiApp.cmRequest.endDateTime" for="endDateTimeFilter">End Date Time</label>
                <div class="d-flex">
                    <input id="endDateTimeFilter" type="datetime-local" class="form-control" name="endDateTime" [(ngModel)]="endDateTime"/>
                </div>
            </div>
        </div>    
        <div class="form-row">
            <div class="form-group col-md-2" >
                <button (click)="filter()" id="save-entity" class="btn btn-primary">
                    <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Search</span>
                </button>
            </div> 
        </div>                              
    </form>
    
    <div class="table-responsive" *ngIf="cmRequests">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
             <th jhiSortBy="requestUuid"><span jhiTranslate="cashManagementUiApp.cmRequest.requestUuid">Request Uuid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceName"><span jhiTranslate="cashManagementUiApp.cmRequest.serviceName">Service Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceEndpoint"><span jhiTranslate="cashManagementUiApp.cmRequest.serviceEndpoint">Service Endpoint</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instanceHostname"><span jhiTranslate="cashManagementUiApp.cmRequest.instanceHostname">Instance Hostname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instancePort"><span jhiTranslate="cashManagementUiApp.cmRequest.instancePort">Instance Port</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requestBody"><span jhiTranslate="cashManagementUiApp.cmRequest.requestBody">Request Body</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requestHeader"><span jhiTranslate="cashManagementUiApp.cmRequest.requestHeader">Request Header</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="responseBody"><span jhiTranslate="cashManagementUiApp.cmRequest.responseBody">Response Body</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="responseHeader"><span jhiTranslate="cashManagementUiApp.cmRequest.responseHeader">Response Header</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="returnHttpCode"><span jhiTranslate="cashManagementUiApp.cmRequest.returnHttpCode">Return Http Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="technicalStatus"><span jhiTranslate="cashManagementUiApp.cmRequest.technicalStatus">Technical Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="functionalStatus"><span jhiTranslate="cashManagementUiApp.cmRequest.functionalStatus">Functional Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDateTime"><span jhiTranslate="cashManagementUiApp.cmRequest.startDateTime">Start Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDateTime"><span jhiTranslate="cashManagementUiApp.cmRequest.endDateTime">End Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requestDuration"><span jhiTranslate="cashManagementUiApp.cmRequest.requestDuration">Request Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cmRequest of cmRequests ;trackBy: trackId">
                <td><a [routerLink]="['/cm-request', cmRequest.id, 'view' ]">{{cmRequest.id}}</a></td>
                <td>{{cmRequest.requestUuid}}</td>
                <td>{{cmRequest.serviceName}}</td>
                <td>{{cmRequest.serviceEndpoint}}</td>
                <td>{{cmRequest.instanceHostname}}</td>
                <td>{{cmRequest.instancePort}}</td>
                <td>{{cmRequest.requestBody | json }}</td>
                <td>{{cmRequest.requestHeader}}</td>
                <td>{{cmRequest.responseBody | json }}</td>
                <td>{{cmRequest.responseHeader}}</td>
                <td>{{cmRequest.returnHttpCode}}</td>
                <td>{{cmRequest.technicalStatus}}</td>
                <td>{{cmRequest.functionalStatus}}</td>
                <td>{{cmRequest.startDateTime | date:'medium'}}</td>
                <td>{{cmRequest.endDateTime | date:'medium'}}</td>
                <td>{{cmRequest.requestDuration}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cm-request', cmRequest.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cm-request', cmRequest.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cm-request/'+ cmRequest.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="cmRequests && cmRequests.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
